@charset "UTF-8";
.body { /* 배경색 회색 */
  background-color: #8c8c8c; 
	margin : 0 auto;
	width : 1100px;
	margin-top: 120px;
}
.outer-box { /* 610px */
  height: 655px;
  display: inline-block;
  background: #A6D3DF;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.border-left-box {
  border-radius: 8px 24px 24px 8px / 8px 8px 8px 8px;
}
.border-right-box {
  border-radius: 24px 8px 8px 24px / 8px 8px 8px 8px;
}
.inner-box {
  background: #f2f2f2;
  height: 100%;
  border-radius: 8px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.content-box-header { /* today 숫자, 상테메시지 */
  height: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 14px;
  padding-bottom: 5px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.small-text { /* today total 글자 */
  line-height: 14px;
  font-size: 10px;
}
.content-box { /* 흰색 박스 공간  */
  position: relative;
  box-shadow: 5px 5px 20px -10px grey;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 8px;
  border: 1px #cccccc solid;
  background: #fff;
  /*height: calc(100% - 30px);*/
}
.color-blue { /* 상태 메시지 색상 */
  color: #003380;
}
hr { /* 최근 게시물 테이블 실선 */
  border-top: 1px solid #e6e6e6;
  margin-block-start: 0.4em;
  margin-block-end: 0.4em;
}
hr.dashed { /* 최근 게시물 점선 */
  border-top: 1px dashed #e6e6e6;
}
.content-title { /* 최근 게시물 미니룸|스토리룸 클꼴 */
  color: #1296bf;
  font-size: 15px;
  font-weight: bold;
}
.col { /* 최근 게시물 테이블 크기 */
  display: inline-block;
  width: 49%;
}
.flex-middle { /* 최근 게시물 */
  flex: auto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.board-count { /* 최근 게시물 0/0 글꼴 */
  color: #003380;
  font-size: 12px;
  text-decoration : none;
}
.tody {
  position: absolute;
  top: -10px;
  right: -95px;
  height: 55px;
  line-height: 25px;
  width: 80px;
  background: #fff;
  text-align: center;
  border-radius: 8px 8px 8px 8px;
  font-size: 14px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.menu-item { /* 우측 메뉴 버튼 */
  position: absolute;
  top: 60px;
  height: 35px;
  line-height: 35px;
  right: -75px;
  width: 65px;
  background: #2491b2;
  text-align: center;
  border-radius: 8px 8px 8px 8px;
  color: #fff; /* white */
  font-size: 14px;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
   text-decoration : none;
}
.menu-item.menu-selected { /* 현재 선택된 메뉴 버튼을 흰색으로 */
  background: #fff;
  color: #000;
  border: 1px solid #2491b2;
}
a{
  text-decoration : none;  
}
a:hover {
   color : darkgray;
}